header {
  background-color: #28a745;
  color: #fff; 
  padding: 10px 20px; 
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
}

.navbar-user-section {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-user-name {
  margin-right: 10px;
  font-size: 16px;
}

.navbar-user-img-container {
  cursor: pointer;
  position: relative;
}

.navbar-user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.navbar-dropdown {
  position: absolute;
  top: 50px; /* Adjust based on the size of the image */
  right: 0;
  background-color: #fff;
  color: #28a745;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Make sure it appears on top */
}

.navbar-dropdown button {
  background: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.navbar-dropdown button:hover {
  color: #28a745; /* Change color on hover */
}
