@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #28a745;
    width: 100%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;  /* Increased width */
    height: 400px;
    padding: 20px;
    border-radius: 50px;
    background: white;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    border-radius: 30px;
    margin: 20px 0 50px;
    padding: 10px;
}

.logo-container img {
    max-width: 30%;
    height: auto;
}

button {
    padding: 10px 30px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

button:focus {
    outline: none;
}

.text-center {
    color: #218838;
}