.table-container {
    padding: 40px;
    margin-top: -10px;
  }
  
  .password-toggle {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2px;
  }
  
  h1 {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .responsive-table {
    display: block;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  thead {
    background-color: #f8f8f8;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    word-wrap: break-all;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  td img {
    cursor: pointer;
  }
  
  button {
    padding: 5px 10px;
    width: auto;
    margin: 2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .tile-view {
    display: none;
  }
  
  .tile {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .tile img {
    cursor: pointer;
    margin-left: 65%;
    margin-bottom: 10px;
    margin-top: -11%;
  }
  
  .tile-actions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .tile p {
    font-size: 18px;
  }

  @media (max-width: 800px) {
    table {
      display: none;
    }
  
    .tile-view {
      display: block;
    }
  }
  